$backgroundColor: rgb(149, 214, 149);
*{box-sizing: border-box;}
$buttonSize: 48px;
body{
    //background-color: $backgroundColor//
    border: 10px dashed red;
    margin:0;
    min-height: 100vh;
    color: #fff;
    background-image: url("../IMG/Rectangle\ 1.jpg");
    /*przykrywa cały obszar - cover*/
    background-size: cover;
    background-position: center top;
    //background-repeat:no-repeat//

    >header{
    border: 2px dashed red;
    display: flex;
    justify-content: space-between;
    
    nav{
        border: 2px dashed blue;
        position: relative;
        min-height:$buttonSize;
        //DOMYŚLNE WYŚWIETLANIE 
        #toggler{display: none;}

        label{
            border:2px dashed yellow;
            position: absolute;
            width: $buttonSize;
            height: $buttonSize;
            right:0;
            top:0;
            cursor: pointer;
        
            //hamburger//
            div{
                transition: 2s;
                background-color: rgb(255, 255, 255);
                position: absolute;
                width: 80%;
                left: 10%;
                height: 10%;
                &:nth-child(1){
                    top: 17.5%;
                    
                }
                &:nth-child(2){
                    top:45%;
                    
                }
                &:nth-child(3){
                    top: 72.5%;
                }
            
            }
        }
        //display: none//
        ul{
            display: none;
            border: 2px dashed green;
            //display: flex;
            flex-direction: column;
            margin: 0;
            right: 0;
            top:$buttonSize;
            position: absolute;
            
            
        }
        //PO KLIKNIĘCIU NA HAMBURGER
         //#toggler:checked ~ ul{
            // display: flex;}
            
         
         #toggler:checked{
             ~ ul {display: flex;}
             ~ label {
                 border-color: blue;
                 div{
                     &:nth-child(1){
                         
                         transform: rotate(45deg);
                         top:45%;
                     }
                     &:nth-child(2){
                         opacity: 0;
                     }
                     &:nth-child(3){
                        transform: rotate(-45deg);
                        top:45%;
                     }
                 }
             }
         }
         
    }
    .hamburger{
        border: 2px dashed yellow;
    }
    @media(min-width: 768px ){
        nav{
            ul{
            display: none;
        }
    }
    
    }
}}